/* Global Styles */
body {
    background-color: #333;  
    color: white;            
}

/* Main content area */
main {
    background-color: #444;  
    padding: 20px;          
}

/* Link styles */
a {
    color: #3e56db;
}

/* Link hover styles */
a:hover {
    color: #e0e0e0;         
    text-decoration: none;  
}

/* Navigation styles */
nav {
    background-color: #3f51b5;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation link styles */
nav div a {
    color: white;
    text-decoration: none;
    padding: 5px 10px; 
    display: inline-block; 
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s; 
}

/* Navigation link hover styles */
nav div a:hover {
    background-color: rgba(255, 255, 255, 0); 
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
    color: #e0e0e0;
}

/* Icon transition effect */
nav div a i {
    transition: color 0.3s; 
}

/* Icon hover effect */
nav div a:hover i {
    color: #e0e0e0; 
}

/* Class for elements without hover effect */
.no-hover-effect {
    font-size: 1.5em;
    font-weight: 500;
    color:white;
    text-decoration: none;
}

/* Card styles */
.card {
    margin-bottom: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
}

/* Hover effect for card */
.card-hover:hover {
    transform: scale(1.05); 
    border: 1px solid black;
    border-radius: 8px; 
}

/* Card body hover effect */
.card-hover:hover .card-body {
    background-color: #3f51b5;
    color: black;
}

/* Card body styles */
.card-body {
    background-color: #333;
    color: white;
    border: 3px solid black;
}

/* Button icon spacing */
.btn i {
    margin-right: 5px;  
}

/* Card link styles */
.card-link {
    text-decoration: none;
}

/* Card link hover effect */
.card-link:hover .card {
    transform: scale(1.05);
}

/* Icon color before hover */
#homeicon {
    color: #348ce4;
}

/* Card hover effects */
.card-hover:hover .card-body {
    background-color: #3f51b5;
    color: white;
    border-radius: 7px; 
}

/* Icon color on card hover */
.card-hover:hover .card-title #homeicon {
    color: white;
}

/* Card header color */
.card-header.bg-primary {
    background-color: #3f51b5 !important;
}

/* Edit button styles */
#editicon.btn.btn-success {
    background-color: #0d47a1;
    border-color: #0d47a1;    
}

/* Edit button hover styles */
#editicon.btn.btn-success:hover {
    background-color: #0a365c;
    border-color: #0a365c;
    border: 0.5px solid black;
}

/* Transition effect for edit button */
#editicon.btn.btn-success {
    transition: background-color 0.3s, border-color 0.3s;
}

/* Label styles in availability form */
.availability-form label {
    font-weight: 500;
}

/* Success button styles in availability form */
.availability-form .btn-success {
    background-color: #3f51b5;
    border-color: #3f51b5;    
}

/* Success button hover styles in availability form */
.availability-form .btn-success:hover {
    background-color: #0f36c3;
    border-color: #0f36c3;    
}

/* Calendar header styles */
.card-header.bg-primary {
    background-color: #3f51b5 !important;
    color: white;
    border: 3px solid black;
    border-bottom: 1.5px black;
}

/* Calendar styles */
#calendar {
    background-color: #444;
}

/* Event styles in calendar */
#calendar .fc-event {
    background-color: black;
    border: none;
}

/* Day styles in calendar */
#calendar .fc-day {
    color: white;
}

/* Current day styles in calendar */
#calendar .fc-day-today {
    background-color: rgba(16, 25, 27, 0.918);
}

/* Card header styles */
.card-header {
    background-color: #3f51b5;
    color: white;
    border: 3px solid black;
    border-bottom: 0.1px solid darkslategrey;
}

/* Card title styles */
.card-title {
    font-size: 1.5em;
}

/* Modal content styles */
.modal-content {
    background-color: #444;
    border: 3px solid black;
    color: white;
}

/* Modal header styles */
.modal-header {
    background-color: #3f51b5;
    border-bottom: 2px solid #333;
}

/* Modal footer styles */
.modal-footer {
    background-color: #3f51b5;
    border-top: 2px solid #333;
}

/* Modal title styles */
.modal-title {
    color: white;
}

/* Close button styles in modal */
.modal .close {
    color: white;
}

/* Close button hover styles in modal */
.modal .close:hover {
    color: #e0e0e0;
}

/* Primary button styles in modal */
.modal .btn-primary {
    background-color: #3f51b5;
    border: none;
}

.modal .btn-primary:hover {
    background-color: #0f36c3;
}

.modal .btn-secondary {
    background-color: #333;
    border: none;
}

.modal .btn-secondary:hover {
    background-color: #8c30f5;
}

.modal .form-control {
    background-color: #333;
    color: white;
    border: 2px solid #3f51b5;
}

.modal .form-control:focus {
    border-color: #0f36c3;
    box-shadow: none;
}

.modal .close {
    color: #3f51b5;
    opacity: 0.8;
}

.modal .close:hover {
    color: red;
    opacity: 1;
}

.modal .close:focus {
    box-shadow: none;
    outline: none;
}