/* Cambio de fondo y color de texto para todo el cuerpo */
body {
    background-color: #333;  /* Fondo oscuro */
    color: white;            /* Texto blanco */
}

/* Cambio de fondo y color de texto para el contenido principal */
main {
    background-color: #444;  /* Un tono más claro que el cuerpo para distinguir el contenido */
    padding: 20px;           /* Espaciado alrededor del contenido */
}

/* Cambio del color de los enlaces para que sean visibles contra el fondo oscuro */
a {
    color: #3e56db;
}

a:hover {
    color: #e0e0e0;          /* Color gris claro al pasar el ratón por encima */
    text-decoration: none;   /* Quitar el subrayado al pasar el ratón por encima */
}

nav {
    background-color: #3f51b5;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div a {
    color: white;
    text-decoration: none;
    padding: 5px 10px; /* Añadir algo de relleno alrededor de los enlaces para que el cambio de color de fondo sea más evidente */
    display: inline-block; /* Convertir en bloque en línea para que el relleno se aplique correctamente */
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s; /* Efecto de transición suave */
}

nav div a:hover {
    background-color: rgba(255, 255, 255, 0); /* Añadir un color de fondo sutil al hacer hover */
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Efecto de sombra */
    color: #e0e0e0; /* Cambiar el color del texto a un gris claro */
}

nav div a i {
    transition: color 0.3s; /* Efecto de transición suave para el ícono */
}

nav div a:hover i {
    color: #e0e0e0; /* Cambiar el color del ícono al hacer hover */
}



.no-hover-effect {
    font-size: 1.5em;
    font-weight: 500;
    color:white;
    text-decoration: none;
}

/* Establecer el fondo y el borde de la tarjeta */
.card {
    margin-bottom: 20px;
    background-color: white;  /* Fondo oscuro para la tarjeta */
    border: 2px solid black; /* Borde negro */
    border-radius: 8px; /* Redondear las esquinas */

}

.card-hover:hover {
    transform: scale(1.05); 
    border: 1px solid black; /* Borde negro */
    border-radius: 8px; /* Redondear las esquinas */
}

.card-hover:hover .card-body {
    background-color: #3f51b5;
    color: black;
}

/* Estilos adicionales para mantener la coherencia de diseño */
.card-body {
    background-color: #333; /* Fondo oscuro */
    color: white; /* Texto blanco */
    border: 3px solid black; /* Borde negro alrededor del cuerpo del calendario */
}



.btn i {
    margin-right: 5px;  
}

.card-link {
    text-decoration: none;
}

.card-link:hover .card {
    transform: scale(1.05);
}

/* Establecer el color del ícono antes del hover */
#homeicon {
    color: #348ce4;
}

/* Cambiar el color de fondo del cuerpo de la tarjeta al hacer hover sobre la tarjeta completa */
.card-hover:hover .card-body {
    background-color: #3f51b5;
    color: white;
    border-radius: 7px; /* Bordes más redondeados al hacer hover */
    /* Cambiar el texto a blanco para que se vea sobre el fondo azul */
}

.card-hover:hover .card-title #homeicon {
    color: white; /* Cambiar el color del ícono a blanco cuando se hace hover sobre la tarjeta */
}


/* Cambiar el color de los encabezados de las tarjetas */
.card-header.bg-primary {
    background-color: #3f51b5 !important;
}

/* Cambiar el color del botón Edit */
#editicon.btn.btn-success {
    background-color: #0d47a1; /* Azul oscuro */
    border-color: #0d47a1;    /* Borde azul oscuro */
}

#editicon.btn.btn-success:hover {
    background-color: #0a365c; /* Azul más oscuro al pasar el ratón por encima */
    border-color: #0a365c;    /* Borde azul más oscuro al pasar el ratón por encima */
    border: 0.5px solid black; /* Añade una línea divisoria entre el encabezado y el cuerpo de la tarjeta */

}

/* Estilo de transición suave para el cambio de color al pasar el ratón por encima del botón Edit */
#editicon.btn.btn-success {
    transition: background-color 0.3s, border-color 0.3s;
}


.availability-form label {
    font-weight: 500; /* Hace que las etiquetas sean un poco más gruesas */
    color: black; /* Color oscuro para las etiquetas */
    
}



.availability-form .btn-success {
    background-color: #3f51b5; /* Un color azul para el botón */
    border-color: #3f51b5;    /* Borde azul */
}

.availability-form .btn-success:hover {
    background-color: #0f36c3; /* Azul más oscuro al pasar el ratón por encima */
    border-color: #0f36c3;    /* Borde azul más oscuro al pasar el ratón por encima */
}



/* Encabezado del calendario */
.card-header.bg-primary {
    background-color: #3f51b5 !important; /* Color azul oscuro */
    color: white; /* Texto blanco */
    border: 3px solid black;
    border-bottom: 1.5px black;

}


/* Estilos específicos para el calendario (asumiendo que estás usando FullCalendar o una biblioteca similar) */
#calendar {
    background-color: #444; /* Un tono ligeramente más claro para el calendario en sí */
}

#calendar .fc-event {
    background-color: black; /* Color azul para los eventos en el calendario */
    border: none; /* Quitar el borde predeterminado de los eventos */
}

#calendar .fc-day {
    color: white; /* Color blanco para los números de los días */
}

#calendar .fc-day-today {
    background-color: rgba(16, 25, 27, 0.918); /* Un color ligeramente diferente para el día actual */
}


.card-header {
    background-color: #3f51b5; /* Fondo azul oscuro */
    color: white; /* Texto blanco */
    border: 3px solid black;
    border-bottom: 0.1px solid darkslategrey;
}

.card-title {
    font-size: 1.5em; /* Aumentar el tamaño de fuente del título */
    
}
