{% extends 'atento_care/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Register</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in register_form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% if field.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ field.errors|first }}
                                </div>
                            {% endif %}
                            {% if field.field.widget.input_type == 'select' %}
                                <select class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}">
                                    {% for choice in field.field.choices %}
                                        <option value="{{ choice.0 }}" {% if field.value == choice.0 %} selected {% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" {% if field.field.required %} required {% endif %}>
                            {% endif %}
                        </div>
                    {% endfor %}
                        <div class="form-group mt-4">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
