{% extends 'atento_care/base.html' %}

{% block content %}
    <h2>My Appointments</h2>
    {% for appointment in appointments %}
        <div>
            <p>Doctor: {{ appointment.doctor.user.username }}</p>
            <p>Patient: {{ appointment.patient.user.username }}</p>
            <p>Date: {{ appointment.date }}</p>
            <p>Status: {{ appointment.appointmentstatus.status }}</p>
            {% if request.user.user_type == 'DOCTOR' %}
                <a href="{% url 'change_appointment_status' appointment.id %}">Change Status</a>
            {% endif %}
        </div>
    {% empty %}
        <p>No appointments yet.</p>
    {% endfor %}
{% endblock content %}
