.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* App.css */

/* Estilos generales de la aplicación */
.app-container {
  min-height: 100vh;
  padding: 20px;
  background-color: #444;  /* Fondo oscuro */
}

/* Estilos para la barra de navegación */
.navbar {
  background-color: #3f51b5;
  color: white;
}


/* Estilos para la barra de navegación */
.navbar {
  background-color: #3f51b5; /* Color de fondo */
}

.navbar a {
  color: white; /* Color del texto */
  margin-right: 15px; /* Espaciado a la derecha */
  text-decoration: none; /* Quitar subrayado */
  transition: color 0.3s; /* Efecto de transición suave */
}

.navbar a:hover {
  color: #e0e0e0; /* Cambiar el color al pasar el ratón por encima */
  text-decoration: underline; /* Quitar subrayado */

}

/* Clase para el fondo oscuro de la sección del filtro */
.filter-section {
  margin: 20px 0;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  
}

/* Clase para los botones activos */
.active-button {
  background-color: darkblue !important;
  color: white !important;
}

.white-text {
  color: rgb(202, 202, 202);
}
